{% extends "base.html" %}

{% set titulo="Cadastro" %}

{% block conteudo %}

<form action="/post_cadastro" method="post">
    <div class="mb-3 form-floating">
        <input class="form-control" type="text" name="nome" id="nome" placeholder="Nome" required>
        <label class="form-label" for="nome">Nome</label>
    </div>
    <div class="mb-3 form-floating">
        <input class="form-control" type="text" name="descricao" id="descricao" placeholder="Descrição" required>
        <label class="form-label" for="descricao">Descrição</label>
    </div>
    <div class="mb-3 form-floating">
        <input class="form-control" type="number" name="estoque" id="estoque" placeholder="Estoque" required>
        <label class="form-label" for="estoque">Estoque</label>
    </div>
    <div class="mb-3 form-floating">
        <input class="form-control" type="numeric" name="preco" id="preco" placeholder="Preço" required>
        <label class="form-label" for="preco">Preço</label>
    </div>
    <div class="mb-3 form-floating">
        <select class="form-control" name="categoria" id="categoria">
            <option value="Alimento">Alimento</option>
            <option value="Limpeza">Limpeza</option>
            <option value="Eletrônicos">Eletrônicos</option>
            <option value="Brinquedos">Brinquedos</option>
            <option value="Vestuário">Vestuário</option>
            <option value="Automotivo">Automotivo</option>
            <option value="Esporte&Lazer">Esporte&Lazer</option>
        </select>
        <label class="form-label" for="categoria">Categoria</label>
    </div>
    <div class="mb-3">
        <button class="btn btn-dark btn-lg" type="submit">Cadastrar</button>
    </div>
</form>

{% endblock %}



